@font-face {
  font-family: "GyeonggiBold";
  src: url("./assets/fonts/Title_Bold.woff") format("woff");
}

@font-face {
  font-family: "GyeonggiMedium";
  src: url("./assets/fonts/Title_Medium.woff") format("woff");
}

@font-face {
  font-family: "GyeonggiLight";
  src: url("./assets/fonts/Title_Light.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  @apply font-gyeonggi;
} */
